body{
    background-color:grey;
}

h1 {
    color:blue
}

.tree{
    src:"/tree of life avatar.jpg"
}

.divider{
    width: 100vw;
    height: 20vh;
    background-color:rgb(5, 5, 5);
}

#apple {
    color: red;
}



